.App {
  text-align: center;
}

.addForm {
  padding: 20px;
}

.rouletteButtons {
  padding: 20px;
}

.otherText {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.otherTextReversed {
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.randomButtonText {
  font-family: 'Roboto', sans-serif;
  color: #D05353;
}

.headerText {
  font-family: 'Rammetto One', sans-serif;
  color: white;
  padding: 20px;
}

.header {
  color: #2a2a2a;
  background-color: #D05353;
}
